.form-div{
    display: block;
}
.form-div input, textarea{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 70%;
    /* text-align: center; */
}

#booking-img-style{
    height: 300px;    
    width: 100%;
    transition: all .5s;
    border-radius: 2px;
}

.icon-style{
    display: table;
    margin: 0 auto;
}
.submit-btn{
    text-align: center;
}